<div class="main-content">
    <div class="container-fluid">
        <h1 style="text-align: center;">{{data.course_name}}</h1>
      <div class="row">
          
        <div class="col-md-6">
            <div class="card card-chart" >
                <div class="card-body">
                    <h4 class="card-title"><b>Course code:</b> {{data.code}}</h4>
                    <h4 class="card-title"><b>Description:</b> {{data.description}}</h4>
                    <h4 class="card-title"><b>Capacity:</b> {{data.capacity}}</h4>
                    <h4 class="card-title"><b>Enrolled:</b> {{data.enrolled}}</h4>
                </div>
              
            </div>
        </div>
                 
        <div class="col-md-6" > 
            <div class="card card-chart" style="height: 400px;">
                <img src={{data.img}} alt="">
        </div>
    </div>
        <div class="col-md-12" >
            <div class="card card-chart" >
                <img src={{data.doc}} alt="">
            </div>
        </div>

          </div>
        </div>
    </div>