<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Course Table</h4>
                        <p class="card-category"> Here is course table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Course-Name
                                    </th>
                                    <th>
                                        Course-code
                                    </th>
                                    <th>
                                        Month
                                    </th>
                                    <th>
                                        Year
                                    </th>

                                    <th>
                                        Faculty
                                    </th>
                                    <th>
                                        Capacity
                                    </th>
                                    <th>
                                        Enrolled
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let item of data; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.code}}</td>
                                        <td>{{item.blockEntry.month}}</td>
                                        <td>{{item.blockEntry.year}}</td>
                                        <td>{{item.faculty}}</td>
                                        <td>{{item.capacity}}</td>
                                        <td>{{item.enrolled}}</td>
                                        <td>{{item.description}}</td>
                                        <td>
                                            <button type="button" class="btn btn-warning"
                                                (click)="editRow(item._id)">Edit</button>
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-danger"
                                                (click)="deleteRow(item._id)">Delete</button>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                            <td>
                                <button type="button" class="btn btn-info" (click)="addRow()">Add</button>
                            </td>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>