<h2>List of Course</h2>
<br>
<table class="table">
    <caption>List of course</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course blockEntry</th>
            <th scope="col">Course name</th>
            <th scope="col">Course code</th>
            <th scope="col">Course capacity</th>
            <th scope="col">Course enrolled</th>
            <th scope="col">description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.blockEntry}}</td>
            <td>{{item.blockEntry.year}}</td>
            <td>{{item.blockEntry.month}}</td>
            <td>{{item.name}}</td>
            <td>{{item.code}}</td>
            <td>{{item.capacity}}</td>
            <td>{{item.enrolled}}</td>
            <td>{{item.description}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteRow(item._id)">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="editRow(item._id)">patch</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="addRow(item._id)">post</button>
            </td>
            <!--<td>
            <button type="button" class="btn btn-info"  (click)="onEdit(i)">Edit</button>
            </td>-->
        </tr>
    </tbody>
</table>