<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div [formGroup]="this.courseForm">
                <h2>Course</h2>
                <div class="input-group input-group-outline my-3">
                    <div class="col-md-4">
                        <label class="form-label" for="name">Name: </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="name" type="text" formControlName="name">
                    </div>
                </div>
                <div class="input-group input-group-outline my-3">
                    <div class="col-md-4">
                        <label class="form-label" for="code">Code: </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="code" type="text" formControlName="code">
                    </div>
                </div>

                <div formGroupName="blockEntry">
                    <div class="input-group input-group-outline my-3">
                        <div class="col-md-4">
                            <label class="form-label" for="year">year: </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="year" type="text" formControlName="year">
                        </div>
                    </div>
                    <div class="input-group input-group-outline my-3">
                        <div class="col-md-4">
                            <label class="form-label" for="month">month: </label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" id="month" type="text" formControlName="month">
                        </div>
                    </div>
                </div>
                <div class="input-group input-group-outline my-3">
                    <div class="col-md-4">
                        <label class="form-label" for="faculty">faculty: </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="faculty" type="text" formControlName="faculty">
                    </div>
                </div>

                <div class="input-group input-group-outline my-3">
                    <div class="col-md-4">
                        <label class="form-label" for="capacity">capacity: </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="capacity" type="text" formControlName="capacity">
                    </div>
                </div>

                <div class="input-group input-group-outline my-3">
                    <div class="col-md-4">
                        <label class="form-label" for="enrolled">enrolled: </label>
                    </div>
                    <div class="col-md-8">
                        <input class="form-control" id="enrolled" type="text" formControlName="enrolled">
                    </div>
                </div>
                <div class="input-group input-group-outline my-3">
                    <div class="col-md-4">
                        <label class="form-label" for="description">description: </label>
                    </div>
                    <div class="col-md-8">
                        <textarea class="form-control" id="description" formControlName="description"> </textarea>
                    </div>
                </div>
                <button class="btn btn-success" (click)="save()">Save</button>
            </div>
        </div>
    </div>
</div>