<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Course info</h4>
                        <p class="card-category">Please fill all the course information</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="this.courseForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="name" id="name" placeholder="Name">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="code" id="code" placeholder="Code">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div formGroupName="blockEntry" class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="year" id="year" placeholder="Block entry year">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="month" id="month"
                                            placeholder="Block entry month">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="faculty" id="faculty" placeholder="Faculty">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="capacity" id="capacity" placeholder="Capacity">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="enrolled" id="enrolled" placeholder="Enrolled">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Course description" id="description"
                                            formControlName="description"></textarea>
                                    </mat-form-field>

                                </div>
                            </div>
                            <button class="btn btn-success" (click)="save()">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>